/* Utils */
:root {
  --color-hero: #212121;
  --secondary-color: #FFFFFF;
  --color-paragraph: #757575;
  --color-important: #000000;
  --color-addition: #2196F3;
  --color-button: #F5F4FA;
  --color-button-change: #188CE8;
  --color-border: #ECECEC;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form-submit {
  display: block;
  margin: 0 auto;
  font-family: "Roboto";
  width: 200px;
  height: 50px;
  background: var(--color-addition);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--secondary-color);
  cursor: pointer;
  border-color: inherit;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms ease-in, visibility 250ms ease-in;
  transition: opacity 250ms ease-in, visibility 250ms ease-in;
}

/* Base */
body {
  font-family: "Roboto", sans-serif;
  color: hsl(0deg, 0%, 13%);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}
@media (min-width: 768px) {
  img {
    width: 354px;
  }
}
@media (min-width: 1200px) {
  img {
    width: 370px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

/* Components */
.benefits {
  display: none;
}
@media (min-width: 1200px) {
  .benefits {
    display: block;
  }
}
.benefits__section {
  padding: 0 0 94px 0;
}
.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.benefits__text {
  position: relative;
}
.benefits__description {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  margin: 0;
  color: var(--secondary-color);
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.business {
  margin: 0 auto;
  max-width: 480px;
  min-height: 400px;
  padding: 118px 30px;
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero_bg-mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .business {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero_bg-mobile@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_bg-mobile@2x.jpg");
  }
}
@media screen and (min-width: 577px) {
  .business {
    max-width: 768px;
    padding: 118px 60px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero_bg-tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_bg-tablet.jpg");
    background-size: cover;
  }
}
@media screen and (min-width: 577px) and (min-device-pixel-ratio: 2), screen and (min-width: 577px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 577px) and (min-resolution: 192dpi), screen and (min-width: 577px) and (min-resolution: 2dppx) {
  .business {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero_bg-tablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_bg-tablet@2x.jpg");
  }
}
@media screen and (min-width: 961px) {
  .business {
    max-width: 1600px;
    min-height: 600px;
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero_bg.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_bg.jpg");
    background-size: cover;
  }
}
@media screen and (min-width: 961px) and (min-device-pixel-ratio: 2), screen and (min-width: 961px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 961px) and (min-resolution: 192dpi), screen and (min-width: 961px) and (min-resolution: 2dppx) {
  .business {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero_bg@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_bg@2x.jpg");
  }
}
.business__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
@media (min-width: 1200px) {
  .business__title {
    font-size: 44px;
  }
}

.button {
  display: block;
  margin: 0 auto;
  font-family: "Roboto";
  height: 50px;
  width: 216px;
  background: var(--color-addition);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--secondary-color);
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) color;
}
.button:hover, .button:focus {
  background: var(--color-button-change);
}
.button__letter {
  position: relative;
  margin: 0 auto;
  font-family: "Roboto";
  height: 50px;
  width: 200px;
  background: var(--color-addition);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--secondary-color);
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) color;
}
.button__letter::-webkit-input-placeholder {
  color: var(--secondary-color);
}
.button__letter::-moz-placeholder {
  color: var(--secondary-color);
}
.button__letter:-ms-input-placeholder {
  color: var(--secondary-color);
}
.button__letter::-ms-input-placeholder {
  color: var(--secondary-color);
}
.button__letter::placeholder {
  color: var(--secondary-color);
}
.button__icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--secondary-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__icon:hover {
  fill: var(--color-addition);
}

.card__description {
  border: 1px solid #EEEEEE;
  padding: 20px 24px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .card__description {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.card__link {
  display: block;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media (min-width: 768px) {
  .card__link {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .card__link {
    display: block;
  }
}
.card_link:hover, .card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.card__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .card__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.card__text {
  position: absolute;
  margin: 63px 24px;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
}
.card__overlay {
  position: absolute;
  color: var(--secondary-color);
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__header {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-hero);
}
.card__subheader {
  font-size: 16px;
  line-height: 1.875;
  color: var(--color-paragraph);
  letter-spacing: 0.03em;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .card__item {
    width: calc((100% - 30px) / 2);
  }
}
@media (min-width: 1200px) {
  .card__item {
    width: auto;
  }
}

.overlay {
  position: relative;
  overflow: hidden;
}
.overlay:hover .card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 13px;
}
.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.checkbox__icon {
  position: absolute;
  margin-right: 7px;
  fill: transparent;
  border: 2px solid black;
  border-radius: 4px;
}
.checkbox__input:checked + .checkbox__icon {
  fill: var(--secondary-color);
  background-color: var(--color-addition);
  border: 1px solid var(--color-addition);
}
.checkbox__label {
  position: relative;
  padding-left: 24px;
  font-size: 14px;
  color: var(--color-paragraph);
}
.checkbox__link {
  color: var(--color-addition);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.clients__section {
  padding: 60px 0;
}
@media (min-width: 1200px) {
  .clients__section {
    padding: 94px 0;
  }
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.clients__item {
  width: 210px;
  height: 90px;
}
@media (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
}
@media (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--color-addition);
  border: 1px solid var(--color-addition);
}

.contact__header {
  display: none;
}
@media (min-width: 768px) {
  .contact__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media (min-width: 1200px) {
  .contact__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
.contact__header__list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--color-paragraph);
  list-style-type: none;
}
@media (min-width: 768px) {
  .contact__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .contact__header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  cursor: auto;
  cursor: pointer;
  color: var(--color-paragraph);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  cursor: pointer;
  color: var(--color-addition);
}
@media (min-width: 768px) {
  .contact__link {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .contact__link {
    font-size: 14px;
  }
}
.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.features__section {
  padding: 60px 0;
}
@media (min-width: 1200px) {
  .features__section {
    padding: 94px 0;
  }
}
@media (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media (min-width: 1200px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.features__item {
  margin-bottom: 30px;
}
.features__item:last-child {
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .features__item {
    width: 354px;
    margin-bottom: 0px;
  }
}
@media (min-width: 1200px) {
  .features__item {
    width: 270px;
    margin-bottom: 0px;
  }
}
.features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  border-radius: 4px;
  background-color: var(--color-button);
  margin-bottom: 30px;
  margin-top: 30px;
}
.features__box:first-child {
  margin-top: 0px;
}
@media (min-width: 768px) {
  .features__box {
    margin-top: 0px;
  }
}
.features__header {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: var(--color-hero);
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .features__header {
    display: block;
  }
}
.features__paragraph {
  font-size: 14px;
  line-height: 24px;
  color: #757575;
  letter-spacing: 0.03em;
  margin: 0 auto;
}

.footer {
  padding: 60px 0;
  background: #2F303A;
}
.footer__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  color: var(--secondary-color);
  cursor: auto;
  letter-spacing: 0.03em;
}
.footer__map {
  font-size: 14px;
  line-height: 1.714;
  color: var(--secondary-color);
  cursor: none;
  font-style: normal;
  letter-spacing: 0.03em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__map:hover {
  color: var(--color-addition);
}
.footer__contact {
  font-size: 14px;
  line-height: 1.714;
  color: rgba(255, 255, 255, 0.6);
  cursor: auto;
  font-style: normal;
  letter-spacing: 0.03em;
}
.footer__contact:hover {
  color: var(--color-addition);
}
.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 9px;
}
@media (max-width: 768px) {
  .footer__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__item--down {
  padding-top: 20px;
}
.footer__header {
  margin-top: 60px;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
@media (min-width: 768px) {
  .footer__header {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .footer__header {
    text-align: start;
  }
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--secondary-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  background: var(--color-addition);
}
.footer__div {
  text-align: center;
}
@media (min-width: 1200px) {
  .footer__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .footer__div--second {
    margin-top: 15px;
  }
}
@media (min-width: 768px) {
  .footer__div--third {
    text-align: center;
    padding-top: 60px;
  }
}
@media (min-width: 1200px) {
  .footer__div--third {
    margin-top: 15px;
    padding-top: 0;
  }
}
.footer__icon {
  position: relative;
  top: 17px;
  left: 7px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--secondary-color);
}
.footer__letter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1200px) {
  .footer__letter {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 768px) {
  .footer__index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (min-width: 1200px) {
  .footer__index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 80px;
  }
}
@media (min-width: 768px) {
  .footer__contact {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .footer__contact {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.form-field__control {
  position: relative;
}
.form-field__label {
  color: var(--color-paragraph);
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.166;
}
.form-field__input {
  height: 40px;
  width: 100%;
  padding: 0 12px 0 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__input:focus {
  border: 1px solid var(--color-addition);
}
.form-field_input:focus + .form-field__icon {
  fill: var(--color-addition);
}
.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.form-field__icon:focus {
  fill: var(--color-addition);
}
.form-field__textarea {
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__textarea:focus {
  border: 1px solid var(--color-addition);
}
.form-field__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.166;
}
.form-field__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.166;
}
.form-field__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.166;
}
.form-field__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.166;
}
.form-field__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.166;
}
.form-field__checkbox {
  margin-bottom: 30px;
}

.header {
  border-bottom: 1px solid var(--color-border);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0px;
}
@media (min-width: 768px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 50px;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.header__menu {
  display: none;
}
@media (min-width: 768px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 50px;
  }
}
.header__link {
  display: block;
  position: relative;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
  list-style-type: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--color-addition);
}
.header__link--current {
  color: var(--color-addition);
}
.header__link--current::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--color-addition);
  border-radius: 2px;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
}
.header__burger {
  border: none;
  background-color: white;
}
@media (min-width: 768px) {
  .header__burger {
    display: none;
  }
}

.tel {
  color: var(--color-paragraph);
}

.header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.166;
  color: var(--color-hero);
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .header-section {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.input__email {
  margin: 0 auto;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2F303A;
  border-radius: 4px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 380px) {
  .input__email {
    width: auto;
  }
}
.input__email::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.input__email::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.input__email:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.input__email::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.input__email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.logo {
  margin-right: auto;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--color-important);
}
.logo__text {
  color: var(--color-addition);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.menu__item {
  margin-right: 8px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__btn {
  font-family: "Roboto";
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-hero);
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__btn:hover, .menu__btn:focus {
  color: var(--secondary-color);
  background: var(--color-addition);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 25px;
  padding-top: 48px;
  padding-bottom: 48px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}
.mobile-menu__close {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: white;
}
.mobile-menu__close:hover {
  fill: var(--color-addition);
}
.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobile-menu__nav {
  margin-bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.mobile-menu__page {
  color: var(--color-hero);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
  list-style-type: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__page--current {
  color: var(--color-addition);
}
.mobile-menu__contact {
  margin-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.mobile-menu__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: var(--color-addition);
}
.mobile-menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: var(--color-paragraph);
}
.mobile-menu__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.mobile-menu__add {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}
.mobile-menu__add:last-child {
  border-right: none;
}
.mobile-menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: var(--color-addition);
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 15px;
  height: 100vh;
}
.modal__container {
  position: relative;
  max-width: 528px;
  max-height: 592px;
  width: 480px;
  height: 100%;
  padding: 35px 47px 20px 40px;
  background-color: var(--secondary-color);
  border-radius: 4px;
  overflow-y: auto;
}
@media (min-width: 1200px) {
  .modal__container {
    width: 100%;
  }
}
.modal__close {
  position: absolute;
  top: 17px;
  right: 17px;
}
.modal__title {
  margin: 0;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--color-hero);
}
.modal__form-field {
  margin-bottom: 10px;
}

.our-team__section {
  padding: 60px 0;
  background: var(--color-button);
}
@media (min-width: 1200px) {
  .our-team__section {
    padding: 94px 0;
  }
}
.our-team__card {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 767px) {
  .our-team__card {
    display: block;
  }
}
@media (min-width: 768px) {
  .our-team__card {
    gap: 30px;
  }
}
@media (min-width: 1200px) {
  .our-team__card {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.our-team__person {
  text-align: center;
  padding: 30px 0;
  text-align: center;
  background: var(--secondary-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media (max-width: 768px) {
  .person {
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .person:last-child {
    padding-bottom: 0px;
  }
}
@media (max-width: 768px) and (min-width: 768px) {
  .person {
    padding: 0;
  }
}
.person__header {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  color: var(--color-hero);
  letter-spacing: 0.03em;
}
.person__position {
  margin: 0;
  font-size: 16px;
  line-height: 1.187;
  color: var(--color-paragraph);
  letter-spacing: 0.03em;
}

.socials__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--secondary-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background: var(--color-addition);
}
.socials__icon {
  width: 44px;
  height: 44px;
  margin-top: 16px;
  fill: #AFB1B8;
  background: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__icon:hover, .socials__icon:focus {
  fill: var(--secondary-color);
}

.portfolio__container {
  padding: 60px 0;
}
@media (min-width: 768px) {
  .portfolio__container {
    padding: 94px 0;
  }
}

/* Layout */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  max-width: 480px;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}/*# sourceMappingURL=main.css.map */