:root {
	--color-hero: #212121;
	--secondary-color: #FFFFFF;
	--color-paragraph: #757575;
	--color-important: #000000;
	--color-addition: #2196F3;
	--color-button: #F5F4FA;
	--color-button-change: #188CE8;
	--color-border: #ECECEC;
}