.clients {
	&__section {
			padding: 94px 0;
	}
	&__list {
		display: flex;
		justify-content: space-between;
		@media (max-width: 480px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	&__item {
		width: 210px;
		height: 90px;
		margin-bottom: 30px;
		@media (min-width: 768px) {
			width: 170px;
		}
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		border: 1px solid #AFB1B8;
		border-radius: 4px;
		fill: #AFB1B8;
		transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
		&:hover, &:focus {
			fill: var(--color-addition);
			border: 1px solid var(--color-addition);
		}
	}
}