.contact {
	&__header {
		display: none;
	@media (min-width: 768px) {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	@media (min-width: 1200px) {
		display: flex;
		gap: 30px;
		
	}
	&__list {
		font-weight: 500;
		font-size: 14px;
		line-height: 1.142;
		letter-spacing: 0.02em;
		color: var(--color-paragraph);
		list-style-type: none;}
		@media (min-width: 768px) {
			flex-direction: column;
		}
		@media (min-width: 1200px) {
			flex-direction: row;
		}
		}
	&__link {
		display: flex;
		padding: 32px 0;
		font-weight: 500;
		font-size: 12px;
		line-height: 1.142;
		letter-spacing: 0.02em;
		cursor: auto;
		cursor: pointer;
		color: var(--color-paragraph);
		align-items: center;
		transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
		&:hover, &:focus {
			cursor: pointer;
			color: var(--color-addition);}
		@media (min-width: 768px) {
			padding: 0;
		}
		@media (min-width: 1200px) {
			font-size: 14px;
		}
	}
	&__icon {
		margin-right: 10px;
		fill: currentColor;
	}
}