.features {
	&__section {
		padding: 60px 0;

		@media (min-width: 1200px) {
			padding: 94px 0;
		}
	}

	&__list {
		@media (min-width: 768px) {
			display: flex;
			flex-wrap: wrap;
			gap: 30px;
		}

		@media (min-width: 1200px) {
			display: flex;
		}
	}

	&__item {
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0px;
		}
		@media (min-width: 768px) {
			width: 354px;
			margin-bottom: 0px;
		}
		@media (min-width: 1200px) {
			width: 270px;
			margin-bottom: 0px;
		}
	}

	&__box {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 120px;
		border-radius: 4px;
		background-color: var(--color-button);
		margin-bottom: 30px;
		margin-top: 30px;
		&:first-child {
			margin-top: 0px;
		}
		@media (min-width: 768px) {
			margin-top: 0px;
		}
	}

	&__header {
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.142;
		text-transform: uppercase;
		color: var(--color-hero);
		letter-spacing: 0.03em;
		display: flex;
		justify-content: center;
		@media (min-width: 768px) {
			display: block;
		}
	}

	&__paragraph {
		font-size: 14px;
		line-height: 24px;
		color: #757575;
		letter-spacing: 0.03em;
		margin: 0 auto;
	}
}