.logo {
	margin-right: auto;
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.192;
	letter-spacing: 0.03em;
	color: var(--color-important);
	&__text {
			color: var(--color-addition);
		}
}