.our-team {
	&__section {
		padding: 94px 0;
		background: var(--color-button);
	}
	&__card {
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		@media (max-width: 768px) {
			display: block;
		}
	}
	&__person {
		text-align: center;
		padding: 30px 0;
		text-align: center;
		background: var(--secondary-color);
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: 0px 0px 4px 4px;
	}
}

.person {
	@media (max-width: 768px) {
		margin: 0 auto;
		padding-bottom: 30px;
	&:last-child {
		padding-bottom: 0px;
	}
	}
	&__header {
		margin: 0;
		margin-bottom: 10px;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.187;
		color: var(--color-hero);
		letter-spacing: 0.03em;
	}
	&__position {
		margin: 0;
		font-size: 16px;
		line-height: 1.187;
		color: var(--color-paragraph);
		letter-spacing: 0.03em;
	}
}

.socials {
	&__section {
		display: flex;
		justify-content: center;
		gap: 10px;
		align-items: center;
	}
	&__link {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background: rgba(255, 255, 255, 0.1);
			fill: var(--secondary-color);
			transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
			&:hover, &:focus {
				background: var(--color-addition);
			}
	}
	&__icon {
		width: 44px;
		height: 44px;
		margin-top: 16px;
		fill: #AFB1B8;
		background: none;
		transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
		&:hover, &:focus {
			fill: var(--secondary-color);
		}
	}
}

.header-section {
	display: flex;
	justify-content: center;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.166;
	color: var(--color-hero);
	letter-spacing: 0.03em;
	margin-bottom: 50px;
}