body {
	font-family: 'Roboto', sans-serif;
	color: hsl(0, 0%, 13%);
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	width: 100%;
	@media (min-width: 768px) {
		width: 354px;
	}
	@media (min-width: 1200px) {
		width: 370px;
	}
}